<main>
    <div id="container">
      <form action="">
        <div class="photo-container">
          <a (click)="signInWithGoogle()">
            <div class="img-google"></div>
          </a>
          <a (click)="singInWithFacebook()">
        <div class="img-facebook"></div>
      </a>
        
    </div>
        <br>
        <!-- <input type="text" value="@AmJustSam"><br>
        <input type="password"><br>
        <input type="submit" value="SIGN IN"><br> -->
        <input type="submit" value="SIGN IN"><br>
        <span><a href="#">Forgot Password?</a></span>
       
      </form>
    </div>
    </main>
    <!-- <main>
    <div class="frosted-glass">
        <form action="">
            
            <input type="text" value="@AmJustSam"><br>
            <input type="password"><br>
            <input type="submit" value="SIGN IN"><br>
            <span><a href="#">Forgot Password?</a></span>
          </form>
    </div>
</main> -->