<!-- <div class="navbar">
  <a href="#">wrongpass</a>
</div>
<div class="form-container">
  <div class="form-field">
    <label for="from-date">From Date:</label>
    <input type="date" id="from-date" name="from-date">
  </div>
  <div class="form-field">
    <label for="to-date">To Date:</label>
    <input type="date" id="to-date" name="to-date">
  </div>
  <div class="search-box">
    <input type="text" placeholder="Search...">
    <button><a href="#"></a></button>
  </div>
</div> -->
<!-- ############################################################################### -->
<div class="navbar">
  <a href="#">wrongpass</a>
</div>
<div class="container">
  <div class="date-picker">
    <label for="start-date">Start Date:</label>
    <input type="date" id="start-date">
    <label for="end-date">End Date:</label>
    <input type="date" id="end-date">
    <input type="text" placeholder="Search...">
  </div>
  <!-- <div class="search-box">
    <input type="text" placeholder="Search...">
  </div> -->
  <table class="table">
    <thead>
      <tr>
        <th>Column 1</th>
        <th>Column 2</th>
        <th>Column 3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Data 1</td>
        <td>Data 2</td>
        <td>Data 3</td>
      </tr>
      <tr>
        <td>Data 4</td>
        <td>Data 5</td>
        <td>Data 6</td>
      </tr>
      <tr>
        <td>Data 7</td>
        <td>Data 8</td>
        <td>Data 9</td>
      </tr>
    </tbody>
  </table>
</div>
